{% extends 'userapp/master.html' %}
{% load static %}
{% block user_content %}
    <style>
    
      .shadow{
          width: 360px;
          height: 450px;
          background-color: rgba(255, 255, 255, 0.891);
          margin-left: 480px;
          margin-top: 50px;
          /* padding-top: 60px; */
          /* padding-left: 60px; */
          
      }
      .bi{
          margin-left: 150px;
      }
      p{
          margin-left: 20px;
      }
      h3{
          margin-left: 110px;
      }
      .form-control{
          width: 300px;
          margin-left: 30px;
          margin-top: 90px;
      }
      .btn{
          width: 300px;
          background-color: black;
          margin-left: 30px;
          margin-top: 20px;
          color: #fff;
      }
      .btn:hover{
          background-color: #fff;
          color: black;
          border: solid 2px black;
      }
      .p{
          margin-top: 20px;
          margin-left: 40px;
          
      }
      .a{
          color: black;
      }
      .a:hover{
          color: black;
      }
     
      
    </style>

        <div class="shadow">
            <i class="bi bi-phone" style="font-size: 4rem;"></i>
            <h3>Verification</h3>
            <center>           
                 <p>You will get otp via email</p>
            </center>
            <input type="password" class="form-control" id="inputPassword">
            <a class="btn btn-light" href="{% url 'payment1' %}">VERIFY</a>
            <p class="p">Don't receive otp ? <b><a class="a" href="">Resend otp</a></b></p>
              
        </div>
  {% endblock %}