{% extends 'userapp/master.html' %}
{% load static %}
{% block user_content %}
    <style>
      .m1{
        background-color: #fff;
        width: 100%;
        height: 600px;
        padding-top: 40px;
      }
      h1{
        color: rgb(7, 2, 7);
        text-align: center;
        font-family:'Times New Roman', Times, serif;
        font-weight: bolder;
        
      }
       .colu{
         width: 100xp;
         height: 100px;
         background-color: rgb(146, 142, 142);
         border: solid 10px  #fff ;
         margin-top: 40px;
       } 
       .colu1{
         width: 100xp;
         height: 100px;
         background-color: #fff;
         border: solid 10px  #fff ;
         margin-top: 40px;
       } 
       
       .colu:hover{
        background-color: rgb(175, 175, 175);
       }
       h3{
         font-family: 'Times New Roman', Times, serif;
         font-size: larger;
         font-weight: bold;
         text-align: center;
         padding-top: 20px;
         color: rgb(0, 0, 0);
         cursor: pointer;
       }
       h3:hover{
         color: #fff;
       }
       .m2{
         padding-top: 90px;
       }
       img{
         cursor: pointer;
       }
       h4{
         color: rgb(128, 127, 126);
       }
       /* .card{
         transition-property: all;
       } */
       .card:hover{
         background-color: rgb(235, 235, 235);
         
       }
       .bi{
         color: #fff;
        padding-left: 30px;
       }
       .icon{
         color: #fff;
       }
      

    </style>
 
    <div class="m1">
     <h1> STATIONS IN COCHIN METRO</h1>
     <div class="container-fluid">
       <div class="row">
         <div class="col-md-2 colu">
            <a href="#a1"><h3>Aluva</h3></a>
            <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  122.04 km</p>
         </div>
         <div class="col-md-2 colu">
           <a href="#a2"> <h3>Pulinchod</h3></a>
           <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  123.37 km</p>
        </div> 
        <div class="col-md-2 colu">
          <a href="#a3"><h3>Companypady</h3></a>
          <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  123.98 km</p>
        </div>
        <div class="col-md-2 colu">
          <a href="#a4"><h3>Ambattukavu</h3></a>
          <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  124.59 km</p>
        </div>
        <div class="col-md-2 colu">
         <a href="#a5"> <h3>Muttom</h3></a>
         <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  125.01 km</p>
        </div>
        <div class="col-md-2 colu">
          <a href="#a6"><h3>Kalamassery</h3></a>
          <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  125.9 km</p>
        </div> 
        <div class="col-md-2 colu">
          <a href="#a7"><h3>Cochin University</h3></a>
          <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  126.95 km</p>
        </div>
        <div class="col-md-2 colu">
          <a href="#a8"><h3>Pathadipalam</h3></a>
          <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  127.85 km</p>
       </div> 
       <div class="col-md-2 colu">
        <a href="#a9"><h3>Edappally</h3></a>
        <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  128.72 km</p>
       </div>
       <div class="col-md-2 colu">
        <a href="#a10"><h3>Changampuzha Park</h3></a>
        <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  129.49 km</p>
       </div>
       <div class="col-md-2 colu">
        <a href="#a11"><h3>Palarivatom</h3></a>
        <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  130.49 km</p>
       </div>
       <div class="col-md-2 colu">
        <a href="#a12"><h3>JLN stadium</h3></a>
          <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  130.85 km</p>
        
       </div> 
       <div class="col-md-2 colu">
        <a href="#a13"><h3>Kaloor</h3></a>
        <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  131.16 km</p>
      </div>
      <div class="col-md-2 colu">
        <a href="#a14"><h3>Town Hall</h3></a>
        <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  131.37 km</p>
     </div> 
     <div class="col-md-2 colu">
      <a href="#a15"><h3>M G Road</h3></a>
      <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  131.79 km</p>
     </div>
     <div class="col-md-2 colu">
      <a href="#a16"><h3>Maharaja's college</h3></a>
      <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  133.09 km</p>
     </div>
     <div class="col-md-2 colu">
      <a href="#a17"><h3>Eranakulam South</h3></a>
      <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  133.64 km</p>
     </div>
     <div class="col-md-2 colu">
     <a href="#a18"> <h3>Kadavanthra</h3></a>
     <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  134.31 km</p>
     </div> 
     <div class="col-md-2 colu">
      <a href="#a19"><h3>Elamkulam</h3></a>
      <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  134.47 km</p>
    </div>
    <div class="col-md-2 colu">
      <a href="#a20"><h3>Vytila</h3></a>
      <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  134.94 km</p>
   </div> 
   <div class="col-md-2 colu">
    <a href="#a21"><h3>Thykkoodam</h3></a>
    <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  136.14 km</p>
   </div>
   <div class="col-md-2 colu">
   <a href="#a22"> <h3>Petta</h3></a>
   <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true"></i>  137.41 km</p>
   </div>
   <div class="col-md-2  colu1">
   
   </div>
   <div class="col-md-2  colu1">
    
   </div>
       </div>

     </div>
    </div>
    <div class="m2">
      <div class="row">
        <div class="card col-md-3" id="a1" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/erana.jpg' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3927.8668031863513!2d76.34732621479505!3d10.109987192775813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080f27ab3c6b33%3A0x9f57d84986cc8826!2sAluva!5e0!3m2!1sen!2sin!4v1649693144752!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
           <h4>Aluva</h4>
             <h6>Station Address</h6>
              <p>Aluva Metro station,Aluva,Periyar Nagar,aluva,Kerala 683101</p>
                <h6>Metro Platform Type</h6>
          <p>side</p>
          <h6>Metro contact Number</h6>
          <p>1800 425 0355 <br>+91-484-2380980</p>
          
          </div>
        </div>
        <div class="card col-md-3" id="a2" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/pili.jpg' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15712.194588311753!2d76.3466!3d10.0951!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdadcc868b230d64f!2sPulinchodu!5e0!3m2!1sen!2sin!4v1649694584040!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>Pulinchod</h4>
            <h6>Station Address</h6>
            <p >Pulinchode,Kunnathery Thikavu,aluva,Kerala 683101</p>
            <h6>Metro Platform Type</h6>
            <p>side</p>
            <h6>Metro contact Number</h6>
            <p>1800 425 0355 <br>+91-484-2380980</p>
          
          </div>
        </div>


        <div class="card col-md-3" id="a3" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/kam.jfif' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.1437522196047!2d76.3406113142825!3d10.087305274293913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080ec05032e0f5%3A0xc975eb4323679ba8!2sCompanypady!5e0!3m2!1sen!2sin!4v1649693369964!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>Companypady</h4>
            <h6>Station Address</h6>
            <p>Companyppadi,choornikkara,aluva,Kerala 683101</p>
            <h6>Metro Platform Type</h6>
            <p>side</p>
            <h6>Metro contact Number</h6>
            <p>1800 425 0355 <br>+91-484-2380980</p>
          
          </div>
        </div>

        <div class="card col-md-3" id="a4" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/amba.jpg' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.2415227843703!2d76.33670071428247!3d10.079285874430846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080fe148a3ad0b%3A0xd601c87783f06f71!2sAmbattukavu%20metro%20station!5e0!3m2!1sen!2sin!4v1649693453655!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>Ambattukavu</h4>
            <h6>Station Address</h6>
            <p>Ambattukavu,Choornikaraaluva,Kerala 683106</p>
            <h6>Metro Platform Type</h6>
            <p>side</p>
            <h6>Metro contact Number</h6>
            <p>1800 425 0355 <br>+91-484-2380980</p>
          
          </div>
        </div>
        <div class="card col-md-3" id="a5" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/muttom.jpg' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.321680971048!2d76.33156131428244!3d10.072706374543134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080e9a15c3e797%3A0xa6380eb03c2ce0a1!2sMuttom%20Metro%20Station!5e0!3m2!1sen!2sin!4v1649693501632!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
          <h4>Muttom</h4>
          <h6>Station Address</h6>
          <p>Muttom,Choornikkara,Kerala 683101</p>
          <h6>Metro Platform Type</h6>
          <p>Island</p>
          <h6>Metro contact Number</h6>
          <p>1800 425 0355 <br>+91-484-2380980</p>
          
          </div>
        </div>
        <div class="card col-md-3" id="a6" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/kalam.jfif' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.493569270787!2d76.31980501428238!3d10.058583174783875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080c2bc145783d%3A0xc955ee7c7c514493!2sKalamassery%20Town%20Metro%20Station!5e0!3m2!1sen!2sin!4v1649693545125!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4> Kalamassery</h4>
        
         <h6>Station Address</h6>
         <p>Kalamasseri,Ernakulam,Kerala 683104</p>
         <h6>Metro Platform Type</h6>
         <p>side</p>
         <h6>Metro contact Number</h6>
         <p>1800 425 0355 <br>+91-484-2380980</p> 
          
          </div>
        </div>
        <div class="card col-md-3" id="a7" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/uni.jpg' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.6379460546063!2d76.31601131428222!3d10.046705274986165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080c334590a2a1%3A0xd2f43962fc199114!2sCochin%20University!5e0!3m2!1sen!2sin!4v1649693631999!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>Cochin University</h4>
            <h6>Station Address</h6>
            <p>South Kalamassery,Kalamassery,Eranakulam,Kerala 682039</p>
            <h6>Metro Platform Type</h6>
            <p>side</p>
            <h6>Metro contact Number</h6>
            <p>1800 425 0355 <br>+91-484-2380980</p>
          
          </div>
        </div>
        <div class="card col-md-3" id="a8" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/patha.jpg' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.766647296227!2d76.31221131428221!3d10.036105275166475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080db45fd969d7%3A0x7cbab83429b3deb6!2sPathadipalam!5e0!3m2!1sen!2sin!4v1649693703059!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>Pathadipalam</h4>
          <h6>Station Address</h6>
          <p>Koonamthai Pathadipalam,Edappally,ernakulam,Kerala 682024</p>
          <h6>Metro Platform Type</h6>
          <p>side</p>
          <h6>Metro contact Number</h6>
          <p>1800 425 0355 <br>+91-484-2380980</p>
          
          </div>
        </div>
        <div class="card col-md-3" id="a9" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/eda.jpg' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.898087090752!2d76.3061754142821!3d10.025268275350653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080db0ffffffff%3A0xe9cf5831273cce6!2sEdapally%20Metro%20Station!5e0!3m2!1sen!2sin!4v1649693743748!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>Edappally</h4>
          <h6>Station Address</h6>
          <p>Edappally,Eranakulam,Kerala 682024</p>
          <h6>Metro Platform Type</h6>
          <p>side</p>
          <h6>Metro contact Number</h6>
          <p>1800 425 0355 <br>+91-484-2380980</p>
          
          </div>
        </div>
        <div class="card col-md-3" id="a10" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/changa.jpg' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.0199636882085!2d76.30019851428206!3d10.015209375521387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d09a86a1bf7%3A0x3f76dd4c77635b14!2sChangampuzha%20Park!5e0!3m2!1sen!2sin!4v1649693790495!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>Changampuzha Park</h>
              <h6>Station Address</h6>
              <p>Palarivattom-Edappally Rd,Devankulangara,Edappally,Eranakulam,Kerala 682025</p>
              <h6>Metro Platform Type</h6>
              <p>side</p>
              <h6>Metro contact Number</h6>
              <p>1800 425 0355 <br>+91-484-2380980</p> 
          
          </div>
        </div>
        <div class="card col-md-3" id="a11" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/pala.jfif' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.1272960290357!2d76.302656914282!3d10.006342575671786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d0907903b8b%3A0xda3401008b1681f!2sPalarivattom%20Metro%20Station!5e0!3m2!1sen!2sin!4v1649693836040!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>Palarivatom</h4>
          <h6>Station Address</h6>
          <p>Palarivattom,erankulam,Kerala 682025</p>
          <h6>Metro Platform Type</h6>
          <p>side</p>
          <h6>Metro contact Number</h6>
          <p>1800 425 0355 <br>+91-484-2380980</p>
          
          </div>
        </div>
        <div class="card col-md-3" id="a12" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/jnl.jpg' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.2003198839925!2d76.29699651428201!3d10.00030557577407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d1410f07cad%3A0x9c93d9ec8e91e4e4!2sJLN%20Stadium%20Metro%20Station!5e0!3m2!1sen!2sin!4v1649693876856!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>JLN stadium</h4>
            <h6>Station Address</h6>
            <p>JNL International Stadium,Kaloor,Palarivattom,Kochi,Kerala 682025</p>
            <h6>Metro Platform Type</h6>
            <p>side</p>
            <h6>Metro contact Number</h6>
            <p>1800 425 0355 <br>+91-484-2380980</p>
          
          </div>
        </div>
        <div class="card col-md-3" id="a13" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/kaloor.jfif' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.272856589313!2d76.28921131428196!3d9.994305275875703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d40352f87ed%3A0x7412e1ad580a7a1a!2sKaloor!5e0!3m2!1sen!2sin!4v1649693968623!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>Kaloor</h4>
            <h6>Station Address</h6>
            <p>Banerji Rd,Kaloor,Ernkulam,Kerala 682017</p>
            <h6>Metro Platform Type</h6>
            <p>side</p>
            <h6>Metro contact Number</h6>
            <p>1800 425 0355 <br>+91-484-2380980</p> 
          
          </div>
        </div>
        <div class="card col-md-3" id="a14" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/erana.jpg' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.307898797214!2d76.28621131428194!3d9.991405275924846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d43df93183d%3A0x1ea1144220e68c03!2sTown%20Hall!5e0!3m2!1sen!2sin!4v1649694013120!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>Town Hall</h4>
            <h6>Station Address</h6>
            <p>Ernakulam North,Kaloor,Ernakulam,Kerala 682017</p>
            <h6>Metro Platform Type</h6>
            <p>side</p>
            <h6>Metro contact Number</h6>
            <p>1800 425 0355 <br>+91-484-2380980</p> 
          
          </div>
        </div>
        <div class="card col-md-3" id="a15" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/mg.jpg' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16094836.406382546!2d67.31741924999999!3d9.983495999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d501b7de07d%3A0x9aac986888a9dc59!2sM.%20G.%20Road!5e0!3m2!1sen!2sin!4v1649694072415!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>M G Road
            </h4>
            <h6>Station Address</h6>
            <p>Padma Junction,Pullepady,Ernakulam,Kerala 682035</p>
            <h6>Metro Platform Type</h6>
            <p>side</p>
            <h6>Metro contact Number</h6>
            <p>1800 425 0355 <br>+91-484-2380980</p>
          </div>
        </div>
        <div class="card col-md-3" id="a16" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/maha.jpg' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.5271584906454!2d76.2828846142818!3d9.973240976232123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0872b2d3bdcc95%3A0x70c95527edec3fc8!2sMaharaja&#39;s%20College!5e0!3m2!1sen!2sin!4v1649694114079!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>Maharaja's college</h4>
            <h6>Station Address</h6>
            <p>Mahatma Gandhi Rd,Shenoys,Ernakulam,Kerala 682011</p>
            <h6>Metro Platform Type</h6>
            <p>side</p>
            <h6>Metro contact Number</h6>
            <p>1800 425 0355 <br>+91-484-2380980</p>
          
          </div>
        </div>
        <div class="card col-md-3" id="a17" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/sout.jpg' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.5842578104543!2d76.28711131428179!3d9.968505276312122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0872b41b63ccf7%3A0x80042ab04a70af14!2sErnakulam%20South!5e0!3m2!1sen!2sin!4v1649694160162!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>Eranakulam South</h4>
          <h6>Station Address</h6>
          <p>Ernakulam South,Kochi,Kerala </p>
          <h6>Metro Platform Type</h6>
          <p>side</p>
          <h6>Metro contact Number</h6>
          <p>1800 425 0355 <br>+91-484-2380980</p>
          
          </div>
        </div>
        <div class="card col-md-3" id="a18" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/kada.jpg' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.607243324384!2d76.29588531428178!3d9.966598276344312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0872c9109ad979%3A0x438e55e60fe903f6!2sKadavanthra!5e0!3m2!1sen!2sin!4v1649694196179!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>Kadavanthra</h4>
            <h6>Station Address</h6>
            <p>Sahodaran ayyappan Rd,Kadavanthra,ernakulam,Kerala 682020</p>
            <h6>Metro Platform Type</h6>
            <p>side</p>
            <h6>Metro contact Number</h6>
            <p>1800 425 0355 <br>+91-484-2380980</p>
          
          </div>
        </div>
        <div class="card col-md-3" id="a19" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/elam.jfif' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7859.20689342101!2d76.29896317223745!3d9.966913288440852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0873c2dc124835%3A0xef4e498b0799a127!2sElamkulam%20Metro%20Station!5e0!3m2!1sen!2sin!4v1649694257622!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>Elamkulam</h4>
            <h6>Station Address</h6>
            <p>Sahodaran ayyappan Rd,elamkulam,Kadavanthra,Kochi,Kerala 682020</p>
            <h6>Metro Platform Type</h6>
            <p>side</p>
            <h6>Metro contact Number</h6>
            <p>1800 425 0355 <br>+91-484-2380980</p> 
          
          </div>
        </div>
        <div class="card col-md-3" id="a20" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/vay.jpg' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31435.91216039529!2d76.2900497869617!3d9.976402860419848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b08732908753317%3A0x7cef850578f42a06!2sVyttila!5e0!3m2!1sen!2sin!4v1649694314848!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>Vytila</h4>
            <h6>Station Address</h6>
            <p>Vyttila,Ernakulam,Kerala 682019</p>
            <h6>Metro Platform Type</h6>
            <p>side</p>
            <h6>Metro contact Number</h6>
            <p>1800 425 0355 <br>+91-484-2380980</p>
          
          </div>
        </div>
        <div class="card col-md-3" id="a21" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/thay.jpg' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62874.98165880033!2d76.28846637910154!3d9.960032100000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b08730324828063%3A0x971f0e7aa7e7dc55!2sThykoodam%20Metro%20Station!5e0!3m2!1sen!2sin!4v1649694354059!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>Thykkoodam</h4>
          <h6>Station Address</h6>
          <p>Thykoodam,Vyttila,Ernakulam,Kerala 682019</p>
          <h6>Metro Platform Type</h6>
          <p>side</p>
          <h6>Metro contact Number</h6>
          <p>1800 425 0355 <br>+91-484-2380980</p>
          
          </div>
        </div>
        <div class="card col-md-3" id="a22" style="width: 18rem; display: flex;">

          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{% static 'images/petta.jpg' %}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.7762909649555!2d76.3278569142817!3d9.95256207658125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0873d3bb7b1e3f%3A0xb0ac82759398ec7e!2sPetta%20Metro%20Station!5e0!3m2!1sen!2sin!4v1649694391075!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>Petta
            </h4>
            <h6>Station Address</h6>
            <p>Petta,Petta Road,Poonithura,Thrippunithura,ernakulam,Kerala 682038</p>
            <h6>Metro Platform Type</h6>
            <p>side</p>
            <h6>Metro contact Number</h6>
            <p>1800 425 0355 <br>+91-484-2380980</p>
          
          </div>
        </div>
      
      </div>
      
      </div>
      </div> 
     </div>
     

    </div>

    
{% endblock %}