{% extends 'userapp/master.html' %}
{% load static %}
{% block user_content %}
    <style>
      .m1{
        background-color: #fff;
        width: 100%;
        padding-top: 40px;
      }
      h1{
        color: rgb(7, 2, 7);
        text-align: center;
        font-family:'Times New Roman', Times, serif;
        font-weight: bolder;
        
      }
       .colu{
         width: 100xp;
         height: 100px;
         background-color: rgb(146, 142, 142);
         border: solid 10px  #fff ;
         margin-top: 40px;
       } 
       .colu1{
         width: 100xp;
         height: 100px;
         background-color: #fff;
         border: solid 10px  #fff ;
         margin-top: 40px;
       } 
       
       .colu:hover{
        background-color: rgb(175, 175, 175);
       }
       h3{
         font-family: 'Times New Roman', Times, serif;
         font-size: larger;
         font-weight: bold;
         text-align: center;
         padding-top: 20px;
         color: rgb(0, 0, 0);
         cursor: pointer;
       }
       h3:hover{
         color: #fff;
       }
       .m2{
         padding-top: 90px;
       }
       img{
         cursor: pointer;
       }
       h4{
         color: rgb(128, 127, 126);
       }
       /* .card{
         transition-property: all;
       } */
       .card:hover{
         background-color: rgb(235, 235, 235);
         
       }
       .bi{
         color: #fff;
        padding-left: 30px;
       }
       .icon{
         color: #fff;
       }
      

    </style>
 
    <div class="m1">
     <h1> STATIONS IN COCHIN METRO</h1>
     <div class="container-fluid">
       <div class="row">
       
        {% for s in station %}

         <div class="col-md-2 colu">
            <a href=""><h3>{{s.station_name|capfirst}}</h3></a>
            <p class="icon"><i class="bi bi-geo-alt-fill" aria-hidden="true">&nbsp;&nbsp;{{s.distance}}</i></p>
         </div>
        {% endfor %}
       </div>

     </div>
    </div>
    <div class="m2">
      <div class="row">
        {% for d in station %}
        <div class="card col-md-3" id="a22" style="width: 18rem; display: flex;">
          <button type="button" class="btn " data-toggle="modal" data-target="#myModal"><img src="{{d.add_image.url}}" class="card-img-top pl-3 pt-3" alt="" height="200px"></button>
           <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.7762909649555!2d76.3278569142817!3d9.95256207658125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0873d3bb7b1e3f%3A0xb0ac82759398ec7e!2sPetta%20Metro%20Station!5e0!3m2!1sen!2sin!4v1649694391075!5m2!1sen!2sin" width="490" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            
              </div>  
           </div>
           <div class="card-body">
            <h4>{{d.station_name|capfirst}}</h4>
            <h6>Station Address</h6>
            <p>{{d.station_address|capfirst}}</p>
            <h6>Metro Platform Type</h6>
            <p>{{d.platform_type}}</p>
            <h6>Metro contact Number</h6>
            <p>{{d.number_1}}<br>{{d.number_2}}</p>
          </div> 
        </div>
        {% endfor %}
      
      </div>
      
      </div>
      </div> 
     </div>
     

    </div>

    
{% endblock %}