{% extends 'userapp/master.html' %}
{% load static %}
{% block user_content %}
<link rel="stylesheet" href="{% static 'css/track.css' %}">


<div class="shadow main">
    <h3>Search by station</h3>
    <select id="inputState1" class="form-select ">
        <option selected>From</option>
        <option>Aluva</option>
        <option>Pulinchod</option>
        <option>Companypady</option>
        <option>Ambattukavu</option>
        <option>Muttom</option>
        <option>Kalamassery</option>
        <option>Cochin University</option>
        <option >Pathadipalam</option>
        <option >Edappally</option>
        <option >Changampuzha Park</option>
        <option >Palarivatom</option>
        <option >JLN stadium</option>
        <option >Kaloor</option>
        <option >Town Hall</option>
        <option >M G Road</option>
        <option >Maharaja's college</option>
        <option >Eranakulam South</option>
        <option >Kadavanthra</option>
        <option >Elamkulam</option>
        <option >Vytila</option>
        <option >Thykkoodam</option>
        <option >Petta</option>
      </select>
        <i class="bi bi-arrow-down-up"></i>
    <select id="inputState1" class="form-select ">
        <option selected>To</option>
        <option>Aluva</option>
        <option>Pulinchod</option>
        <option>Companypady</option>
        <option>Ambattukavu</option>
        <option>Muttom</option>
        <option>Kalamassery</option>
        <option>Cochin University</option>
        <option >Pathadipalam</option>
        <option >Edappally</option>
        <option >Changampuzha Park</option>
        <option >Palarivatom</option>
        <option >JLN stadium</option>
        <option >Kaloor</option>
        <option >Town Hall</option>
        <option >M G Road</option>
        <option >Maharaja's college</option>
        <option >Eranakulam South</option>
        <option >Kadavanthra</option>
        <option >Elamkulam</option>
        <option >Vytila</option>
        <option >Thykkoodam</option>
        <option >Petta</option>
      </select>
      <a href="" class="btn btn-light">Check status</a>


</div>


    
{% endblock %}