{% extends 'userapp/master1.html' %}
{% load static %}
{% block user_profile %}
<style>
h1{
    margin-top: 5px;
    margin-left: 50px;
}
.bi{
    padding-left: 30px;
}
h5 p{
    padding-left: 30px;
}
.form-control{
    width: 400px;
    margin-left: 20px;
    margin-top: 20px;
}
.f1{
    width: 865px;
}
.radio1{
    padding-left: 20px;
}
.btn{
    width: 865px;
    color: #fff;
    background-color: black;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;

}
.btn:hover{
    background-color: #fff;
    color: black;
    font-weight: bold;
    border: solid 2px black;
}
</style>

    
    <i class="bi bi-person-circle ml-5" style="font-size: 3rem;"></i>
    <h1 >Profile</h1><hr>
    <h5 class="ml-5">{{prof.fname|upper}}</h5>
    <p class="ml-5">{{prof.email}}</p>
    <form class="row g-3">
        <div class="col-md-6">
          <input type="text" class="form-control" id="inputFname4" placeholder="{{prof.fname|capfirst}}">
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" id="inputLname4" placeholder="{{prof.lname|capfirst}}">
        </div>
        <div class="col-12">
          <input type="email" class="form-control f1" id="inputEmail4" placeholder="{{prof.email}}">
        </div>
        <div class="col-6">
          <input type="date" class="form-control" id="inputEmail4" placeholder="Date of birth">
        </div>
        <div class="dropdown col-6 radio1">
          <label for="">Gender: </label>&nbsp;&nbsp;&nbsp;&nbsp;
          <label for="">Female</label>&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="gender">&nbsp;&nbsp;&nbsp;&nbsp;
          <label for="">Male</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="gender">&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
       
        <div class="col-12">
          <input type="password" class="form-control f1" id="inputPassword4" placeholder="Address">   
        </div>     
        <div class="col-12">
          <a  class="btn btn-light" id="sign" href="">Save </a>
        </div>
      </form>


{% endblock %}