.form-control{
    width: 400px;
    margin-top: 50px;
    
}
label{
    margin-top: 50px;
}
textarea{
    width: 400px;
    height: 100px;
}

.btn{
    background-color: black;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}